*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Netflix';
    src: url('Fonte/NetflixSans-Bold.otf') format('opentype'), url('Fonte/NetflixSans-Light.otf') format('opentype');
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    
}
h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px;
    padding-top: 100px;
    color: white;
}

.logos{
    margin: auto;
    display: inline-block;
}

img{
    margin-left: 50px;
    height: 200px;
    width: 200px;
    padding: 5px;
    border-radius: 15px;
}
a{
    text-align: center;
    text-decoration: none;
    color: rgba(128, 128, 128, 0.663);
}

a img:hover{
    border: 2px solid white;
}
a:hover{
    color: white;
}
nav{
    display:flex;
    text-align: center;
}
li > a{
    color: white;
}
nav > a > h1{
    font-size: 1.5em;
    font-family: 'Netflix';
    color: #E50914;
    padding: 10px 45px;
    margin: 10px;
    text-align: left;
}
nav > ul > li{
    color:white;
    display: inline-block;
    padding: 10px;
    padding:30px 10px;
    
    
}